<!-- <p>quotes works!</p> -->
<ul *ngFor = 'let quote of quotes;let i=index'>
    <div *ngIf="quote.upvotes == highest; then highlight else empty"></div>
    <ng-template #highlight>
        <li appHighlight>{{ quote.quote }}
            <br><br>
            <span class="text-muted author">{{ quote.author }}
            {{quote.author}}
            </span><br><br>

            <div class=up>
            
            <button (click)="upvote(i,true)" type="button" class="btn btn-info">Upvotes</button>
            {{quote.upvotes}}
            </div><br>

            <div class=down>
   
             <button (click)="downvote(i,true)" type="button" class="btn btn-warning">Downvotes</button>
             {{quote.downvotes}}
            </div>

            
            
            <app-quotedetails></app-quotedetails>

        </li>
    </ng-template>
    <ng-template #empty>
        <li appHighlight>{{ quote.quote }}
            <br><br>
            

            <span class="text-muted author">{{ quote.author }}
            {{quote.author}}
            </span><br><br>

            <div class=up>
                
                <button (click)="upvote(i,true)" type="button" class="btn btn-info">Upvotes</button>
                {{quote.upvotes}}
                </div><br>
    
                <div class=down>
                
                 <button (click)="downvote(i,true)" type="button" class="btn btn-warning">Downvotes</button>
                 {{quote.downvotes}}
                </div>
            
        
            <app-quotedetails></app-quotedetails>
        </li>    
    </ng-template>
               
</ul>

<app-quoteform (addQuote)="addNewQuote($event)"></app-quoteform>
