<!-- <p>quotes works!</p> -->
<ul *ngFor = 'let quote of quotes'>
    <div *ngIf="quote.upvotes == highest; then highlight else empty"></div>
    <ng-template #highlight>
        <li appHighlight>{{ quote.quote }} <span class="text-success">
        upvotes: {{quote.upvotes}}</span><span class="text-danger ml-5">
            downvotes: {{quote.downvotes}}</span></li>
    </ng-template>
    <ng-template #empty>
        <li appHighlight>{{ quote.quote }} <span class="text-success">
        upvotes: {{quote.upvotes}}</span><span class="text-danger ml-5">
            downvotes: {{quote.downvotes}}</span></li>
    </ng-template>           
</ul>
<app-quoteform (addQuote)="addNewQuote($event)"></app-quoteform>
