<app-navbar></app-navbar>
<h1 class="mt-4 text-center"> <u>SPEAK YOUR MIND.</u></h1>
<p>Lets play a game,have you ever come across quotes
  that you find confusing and you would like to
  downvote and add a better quote related to the confusing
  one?<br>Well,dear user you are just in the right place. 
  With Speak your mind app,we enable you to upvote and downvote
  a quote of your liking and even add one if you have.<br><br>
</p>
<div class="container text-left">
  <div class="row md-6 pt-4">
    <div class="col-md-8">
      <h3>Add a quote</h3>
      <app-quotes></app-quotes>
    </div>
    <div class="col-md-4">
      <h3>Delete a quote</h3>
    </div>

</div>


